<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoda</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../style/all.min.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="index.html">
        <img src="../images/logo.png" alt="Logo" />
      </a>
      <nav>
        <ul class="main-nav">
          <li>
            <a href="skills.html">Skills</a>
          </li>
          <li>
            <a href="projects.html">Projects</a>
          </li>
          <li>
            <a href="edu.html">Education</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="cert.html">Certifications</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a
              href="../documents/Ahmed_Amin_Backend_Django_NoPhoto.pdf"
              target="_blank"
              >My CV</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="skills">
      <section class="skills certifications">
        <div class="container">
          <div class="dir left">
            <div class="photo">
              <img src="../images/cert.png" alt="Certifications" />
            </div>
          </div>
          <div class="dir right main">
            <h2 class="head">My Certifications</h2>
            <p class="Bold">
              Here are some of the certifications I have achieved in my career.
            </p>
            <div class="skills-container">
              <div class="back">
                <div class="skill-card">
                  <div class="sphoto">
                    <a href="../documents/back.png" target="_blank">
                      <img
                        src="../documents/back.png"
                        alt="ALX_Back-end_Certificate"
                    /></a>
                  </div>
                  <div class="sinfo">
                    <div>ALX Backend Course</div>
                    <p>
                      This is a certification I received after completing the
                      ALX Backend Course.<br />
                      10/2024
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <a href="../documents/Foundation.png" target="_blank">
                      <img
                        src="../documents/Foundation.png"
                        alt="ALX_Professional_Foundation"
                      />
                    </a>
                  </div>
                  <div class="sinfo">
                    <div>ALX Professional Foundation</div>
                    <p>
                      This is a certification I received after completing the
                      ALX Professional Foundation Course.<br />
                      10/2024
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <a
                      href="../documents/C_Course_Certificate_En_page-0001.jpg"
                      target="_blank"
                    >
                      <img
                        src="../documents/C_Course_Certificate_En_page-0001.jpg"
                        alt="MaharaTech C Language"
                      />
                    </a>
                  </div>
                  <div class="sinfo">
                    <div>Mahara Tech C Language</div>
                    <p>
                      This is a certification I received after completing the
                      Mahara Tech C Language Course.<br />
                      12/2024
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <a href="../documents/OOP_Course.jpg" target="_blank">
                      <img
                        src="../documents/OOP_Course.jpg"
                        alt="MaharaTech OOP Course"
                      />
                    </a>
                  </div>
                  <div class="sinfo">
                    <div>Mahara Tech OOP With C++ Course</div>
                    <p>
                      This is a certification I received after completing the
                      Mahara Tech OOP with C++ Course.<br />
                      12/2024
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <div class="logo">
          <a href="index.html"><img src="../images/logo.png" alt="" /></a>
        </div>
        <div class="links">
          <a class="git" href="https://github.com/Estoda" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            class="linkedin"
            href="https://www.linkedin.com/in/ahmed-amin-b9393a26a/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a class="x" href="https://x.com/AhmedAmin82253" target="_blank"
            ><i class="fa-brands fa-square-x-twitter"></i
          ></a>
        </div>
      </div>
      <p>&copy: 2025 Ahmed Amin. All rights reserved.</p>
    </footer>
  </body>
</html>
