<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoda</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../style/all.min.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="index.html">
        <img src="../images/logo.png" alt="Logo" />
      </a>
      <span class="icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <nav>
        <ul class="main-nav">
          <li>
            <a href="skills.html">Skills</a>
          </li>
          <li>
            <a href="projects.html">Projects</a>
          </li>
          <li>
            <a href="edu.html">Education</a>
          </li>
        </ul>
        <ul class="main-nav">
          <li>
            <a href="cert.html">Certifications</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a
              href="../documents/Ahmed_Amin_Backend_Django_NoPhoto.pdf"
              target="_blank"
              >My CV</a
            >
          </li>
        </ul>
        <ul class="mega-menu">
          <li>
            <a href="skills.html">Skills</a>
          </li>
          <li>
            <a href="projects.html">Projects</a>
          </li>
          <li>
            <a href="edu.html">Education</a>
          </li>
          <li>
            <a href="cert.html">Certifications</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a
              href="../documents/Ahmed_Amin_Backend_Django_NoPhoto.pdf"
              target="_blank"
              >My CV</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="con">
      <section class="skills contact">
        <div class="container">
          <div class="dir left">
            <div class="photo">
              <img src="../images/contact.png" alt="Contact" />
            </div>
          </div>
          <div class="dir right main">
            <h2 class="head">Contact Me</h2>
            <div class="Bold">
              If you want to get in touch with me, you can use the following
              information:
              <div class="links">
                <a class="git" href="https://github.com/Estoda" target="_blank"
                  ><i class="fa-brands fa-github"></i
                ></a>
                <a
                  class="linkedin"
                  href="https://www.linkedin.com/in/ahmed-amin-b9393a26a/"
                  target="_blank"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a class="x" href="https://x.com/AhmedAmin82253" target="_blank"
                  ><i class="fa-brands fa-square-x-twitter"></i
                ></a>
                <a class="mail" href="mailto:ahmedamin20049@gmail.com"
                  ><i class="fa-regular fa-envelope"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <div class="logo">
          <a href="index.html"><img src="../images/logo.png" alt="" /></a>
        </div>
        <div class="links">
          <a class="git" href="https://github.com/Estoda" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            class="linkedin"
            href="https://www.linkedin.com/in/ahmed-amin-b9393a26a/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a class="x" href="https://x.com/AhmedAmin82253" target="_blank"
            ><i class="fa-brands fa-square-x-twitter"></i
          ></a>
        </div>
      </div>
      <p>&copy: 2025 Ahmed Amin. All rights reserved.</p>
    </footer>
  </body>
</html>
