<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoda</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../style/all.min.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="index.html">
        <img src="../images/logo.png" alt="Logo" />
      </a>
      <span class="icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <nav>
        <ul class="main-nav">
          <li>
            <a href="skills.html">Skills</a>
          </li>
          <li>
            <a href="projects.html">Projects</a>
          </li>
          <li>
            <a href="edu.html">Education</a>
          </li>
        </ul>
        <ul class="main-nav">
          <li>
            <a href="cert.html">Certifications</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a
              href="../documents/Ahmed_Amin_Backend_Django_NoPhoto.pdf"
              target="_blank"
              >My CV</a
            >
          </li>
        </ul>
        <ul class="mega-menu">
          <li>
            <a href="skills.html">Skills</a>
          </li>
          <li>
            <a href="projects.html">Projects</a>
          </li>
          <li>
            <a href="edu.html">Education</a>
          </li>
          <li>
            <a href="cert.html">Certifications</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a
              href="../documents/Ahmed_Amin_Backend_Django_NoPhoto.pdf"
              target="_blank"
              >My CV</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="skills edu">
      <section class="skills Edu">
        <div class="container">
          <div class="dir left">
            <div class="photo">
              <img src="../images/edu.png" alt="Education" />
            </div>
          </div>
          <div class="dir right main">
            <h2 class="head">My Education</h2>
            <div class="Bold">
              I have completed my Bachelor's degree in Computers And AI from
              <a href="https://www.fayoum.edu.eg/">Fayoum University</a> in 2026
            </div>
            <hr />
            <!-- make line here -->
            <h1 style="padding: 20px 0" class="head">
              What I learned in College?
            </h1>
            <div class="skills-container">
              <div class="1st">
                <h1>1st Level</h1>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/Cpp.png" alt="C++" />
                  </div>
                  <div class="sinfo">
                    <div>C++</div>
                    <p>
                      C++ is a high-performance, compiled, general-purpose
                      programming language that has been a dominant force in the
                      development of operating systems, games, web browsers, and
                      other software applications.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/cs.png" alt="Intro To CS" />
                  </div>
                  <div class="sinfo">
                    <div>Intro To CS</div>
                    <p>
                      Introduction to Computer Science is a course that covers
                      the fundamental concepts of computer science, including
                      algorithms, data structures, and software design.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/c.png" alt="C" />
                  </div>
                  <div class="sinfo">
                    <div>C</div>
                    <p>
                      C is a general-purpose, high-performance, compiled
                      programming language that has been widely used for
                      developing operating systems, embedded systems, and other
                      applications.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/elect.png" alt="Electronics" />
                  </div>
                  <div class="sinfo">
                    <div>Electronics</div>
                    <p>
                      Electronics is a branch of physics and engineering that
                      deals with the study and application of the flow of
                      electrons in various devices and systems.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/DLD.png" alt="Digital Logic Design" />
                  </div>
                  <div class="sinfo">
                    <div>Digital Logic Design</div>
                    <p>
                      Digital Logic Design is a branch of electronics that deals
                      with the design and analysis of digital circuits and
                      systems.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/ps.png" alt="Problem Solving" />
                  </div>
                  <div class="sinfo">
                    <div>Problem Solving</div>
                    <p>
                      Problem Solving is the process of identifying and solving
                      problems using a systematic and logical approach.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/ec.png" alt="Computing Economics" />
                  </div>
                  <div class="sinfo">
                    <div>Computing Economics</div>
                    <p>
                      Computing Economics is the study of the economic aspects
                      of computing and information technology.
                    </p>
                  </div>
                </div>
              </div>
              <div class="2end">
                <h1>2end Level</h1>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/Dmath.png" alt="Discrete Math" />
                  </div>
                  <div class="sinfo">
                    <div>Discrete Math</div>
                    <p>
                      Discrete Math is the study of mathematical structures that
                      are fundamentally discrete rather than continuous.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/oop.png" alt="OOP" />
                  </div>
                  <div class="sinfo">
                    <div>OOP</div>
                    <p>
                      OOP is a programming paradigm that revolves around the
                      concept of objects and classes.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/is.png" alt="Intro to IS" />
                  </div>
                  <div class="sinfo">
                    <div>Intro to IS</div>
                    <p>
                      Intro to IS is the study of the fundamental concepts of
                      Information Systems.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img
                      src="../images/dsp.png"
                      alt="Digital Signal Processing"
                    />
                  </div>
                  <div class="sinfo">
                    <div>DSP</div>
                    <p>
                      DSP is the study of signals in a digital context, in which
                      the signals are discrete-time signals.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/mm.png" alt="Modern Management" />
                  </div>
                  <div class="sinfo">
                    <div>Modern Management</div>
                    <p>
                      Modern Management is the study of the fundamental concepts
                      of management.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/ds.png" alt="Data Structure" />
                  </div>
                  <div class="sinfo">
                    <div>Data Structure</div>
                    <p>
                      Data Structure is the study of the organization and
                      management of data.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/pm.png" alt="Project Management" />
                  </div>
                  <div class="sinfo">
                    <div>Project Management</div>
                    <p>
                      Project Management is the study of the planning,
                      organizing, and controlling of projects.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img
                      src="../images/sad.png"
                      alt="Systems Analysis & Design"
                    />
                  </div>
                  <div class="sinfo">
                    <div>Systems Analysis & Design</div>
                    <p>
                      Systems Analysis & Design is the study of the analysis and
                      design of systems.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/file.png" alt="File Organization" />
                  </div>
                  <div class="sinfo">
                    <div>File Organization</div>
                    <p>
                      File Organization is the study of the organization and
                      management of files.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img
                      src="../images/prob.png"
                      alt="Probability And Statistics"
                    />
                  </div>
                  <div class="sinfo">
                    <div>Probability And Statistics</div>
                    <p>
                      Probability And Statistics is the study of the probability
                      and statistics.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/os.png" alt="Operation Research" />
                  </div>
                  <div class="sinfo">
                    <div>Operation Research</div>
                    <p>Operation Research is the study of the analysis and</p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img
                      style="border-radius: 50%"
                      src="../images/fs.png"
                      alt="Future Science"
                    />
                  </div>
                  <div class="sinfo">
                    <div>Future Science</div>
                    <p>Future Science is the study of the future science.</p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/entre.png" alt="Entrepreneurship" />
                  </div>
                  <div class="sinfo">
                    <div>Entrepreneurship</div>
                    <p>
                      Entrepreneurship is the study of the entrepreneurship.
                    </p>
                  </div>
                </div>
              </div>
              <div class="3erd">
                <h1>3erd Level</h1>
                <div class="skill-card">
                  <div class="sphoto">
                    <img
                      style="border-radius: 10px"
                      src="../images/ai.png"
                      alt="Artificial Intelligence"
                    />
                  </div>
                  <div class="sinfo">
                    <div>Artificial Intelligence</div>
                    <p>
                      Artificial Intelligence is the study of the artificial
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img
                      style="border-radius: 10px"
                      src="../images/ops.png"
                      alt="Operating Systems"
                    />
                  </div>
                  <div class="sinfo">
                    <div>Operating Systems</div>
                    <p>
                      Operating Systems is the study of the operating systems.
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/sw.png" alt="Software Engineering" />
                  </div>
                  <div class="sinfo">
                    <div>Software Engineering</div>
                    <p>Software Engineering is the study of the software</p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img
                      style="border-radius: 10px"
                      src="../images/dm.png"
                      alt="Data Mining"
                    />
                  </div>
                  <div class="sinfo">
                    <div>Data Mining</div>
                    <p>Data Mining is the study of the data mining</p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/ac.png" alt="Computer Architecture" />
                  </div>
                  <div class="sinfo">
                    <div>Computer Architecture</div>
                    <p>Computer Architecture is the study of the computer</p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img
                      src="../images/alrch.png"
                      alt="Algorithms Analysis & Design"
                    />
                  </div>
                  <div class="sinfo">
                    <div>Algorithms Analysis & Design</div>
                    <p>
                      Algorithms Analysis & Design is the study of the
                      algorithms
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <div class="logo">
          <a href="index.html"><img src="../images/logo.png" alt="" /></a>
        </div>
        <div class="links">
          <a class="git" href="https://github.com/Estoda" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            class="linkedin"
            href="https://www.linkedin.com/in/ahmed-amin-b9393a26a/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a class="x" href="https://x.com/AhmedAmin82253" target="_blank"
            ><i class="fa-brands fa-square-x-twitter"></i
          ></a>
        </div>
      </div>
      <p>&copy: 2025 Ahmed Amin. All rights reserved.</p>
    </footer>
  </body>
</html>
