<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoda</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../style/all.min.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="index.html">
        <img src="../images/logo.png" alt="Logo" />
      </a>
      <span class="icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <nav>
        <ul class="main-nav">
          <li>
            <a href="skills.html">Skills</a>
          </li>
          <li>
            <a href="projects.html">Projects</a>
          </li>
          <li>
            <a href="edu.html">Education</a>
          </li>
        </ul>
        <ul class="main-nav">
          <li>
            <a href="cert.html">Certifications</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a
              href="../documents/Ahmed_Amin_Backend_Django_NoPhoto.pdf"
              target="_blank"
              >My CV</a
            >
          </li>
        </ul>
        <ul class="mega-menu">
          <li>
            <a href="skills.html">Skills</a>
          </li>
          <li>
            <a href="projects.html">Projects</a>
          </li>
          <li>
            <a href="edu.html">Education</a>
          </li>
          <li>
            <a href="cert.html">Certifications</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a
              href="../documents/Ahmed_Amin_Backend_Django_NoPhoto.pdf"
              target="_blank"
              >My CV</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="skills">
      <section class="skills Projects">
        <div class="container">
          <div class="dir left">
            <div class="photo">
              <img src="../images/project.png" alt="Projects" />
            </div>
          </div>
          <div class="dir right main">
            <h2 class="head">My Projects</h2>
            <p class="Bold">Here are some of the projects I have worked on.</p>
            <div class="skills-container">
              <div class="back">
                <div class="skill-card">
                  <div class="logo">
                    <img
                      src="../images/shopping/logo.png"
                      alt="Shopping Website"
                    />
                  </div>
                  <div class="sinfo">
                    <h3 class="head">Shopping Website</h3>
                    <p class="text">
                      A simple shopping website built with Django and MySQL.
                    </p>
                    <p class="text">
                      Features include user registration, login, and shopping
                      cart functionality.
                    </p>
                    <p class="text">
                      Technologies used: Django, MySQL, HTML, CSS, python.
                    </p>
                    <div>
                      <div class="li">
                        <a
                          class="repo"
                          href="https://github.com/Estoda/SWE_Project"
                          >GitHub Repository</a
                        >
                        <a
                          class="repo"
                          href="https://estoda1.pythonanywhere.com/"
                          target="_blank"
                        >
                          Live Website
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="sphoto">
                    <a href="../images/shopping/sh (1).png" target="_blank">
                      <img src="../images/shopping/sh (1).png" alt="sh"
                    /></a>
                    <a href="../images/shopping/sh (2).png" target="_blank">
                      <img src="../images/shopping/sh (2).png" alt="sh"
                    /></a>
                    <a href="../images/shopping/sh (3).png" target="_blank">
                      <img src="../images/shopping/sh (3).png" alt="sh"
                    /></a>
                    <a href="../images/shopping/sh (4).png" target="_blank">
                      <img src="../images/shopping/sh (4).png" alt="sh"
                    /></a>
                    <a href="../images/shopping/sh (5).png" target="_blank">
                      <img src="../images/shopping/sh (5).png" alt="sh"
                    /></a>
                    <a href="../images/shopping/sh (6).png" target="_blank">
                      <img src="../images/shopping/sh (6).png" alt="sh"
                    /></a>
                    <a href="../images/shopping/sh (7).png" target="_blank">
                      <img src="../images/shopping/sh (7).png" alt="sh"
                    /></a>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="logo">
                    <img
                      src="../images/recipe/logo.png"
                      alt="Recipe Management Website"
                    />
                  </div>
                  <div class="sinfo">
                    <h3 class="head">Recipe Management Website</h3>
                    <p class="text">
                      A web application that allows users to create, read,
                      update and delete recipes. The application is built using
                      Python and Django framework.
                    </p>
                    <p>
                      Features include: Recipe creation and editing, Recipe
                      searching and filtering, Recipe deletion and ,
                      authentication and authorization
                    </p>
                    <p>Technologies used: Django, MySQL, HTML, CSS, python.</p>
                    <div>
                      <div class="li">
                        <a
                          class="repo"
                          href="https://github.com/Estoda/Recipe_Management_API"
                          >GitHub Repository</a
                        >
                        <a
                          class="repo"
                          href="https://estoda.pythonanywhere.com/"
                          target="_blank"
                        >
                          Live Website
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="logo">
                    <img src="../images/chat/logo.png" alt="ChatBot Website" />
                  </div>
                  <div class="sinfo">
                    <h3 class="head">ChatBot Website</h3>
                    <p class="text">
                      A web application that allows users to interact with a
                      chatbot. The application is built using Python and Django
                      framework.
                    </p>
                    <p>
                      Features include: Chatbot creation and editing, Chatbot
                      searching and filtering, Chatbot deletion and ,
                      authentication and authorization
                    </p>
                    <p>Technologies used: Django, MySQL, HTML, CSS, python.</p>
                    <div>
                      <a
                        class="repo"
                        href="https://github.com/Estoda/AI-Chat-System-API"
                        >GitHub Repository</a
                      >
                    </div>
                  </div>
                  <div class="sphoto">
                    <img
                      src="../images/chat/Screenshot 2025-01-06 064740.png"
                      alt="ChatBot"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <div class="logo">
          <a href="index.html"><img src="../images/logo.png" alt="" /></a>
        </div>
        <div class="links">
          <a class="git" href="https://github.com/Estoda" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            class="linkedin"
            href="https://www.linkedin.com/in/ahmed-amin-b9393a26a/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a class="x" href="https://x.com/AhmedAmin82253" target="_blank"
            ><i class="fa-brands fa-square-x-twitter"></i
          ></a>
        </div>
      </div>
      <p>&copy: 2025 Ahmed Amin. All rights reserved.</p>
    </footer>
  </body>
</html>
