<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoda</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../style/all.min.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="index.html">
        <img src="../images/logo.png" alt="Logo" />
      </a>
      <span class="icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <nav>
        <ul class="main-nav">
          <li>
            <a href="skills.html">Skills</a>
          </li>
          <li>
            <a href="projects.html">Projects</a>
          </li>
          <li>
            <a href="edu.html">Education</a>
          </li>
        </ul>
        <ul class="main-nav">
          <li>
            <a href="cert.html">Certifications</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a
              href="../documents/Ahmed_Amin_Backend_Django_NoPhoto.pdf"
              target="_blank"
              >My CV</a
            >
          </li>
        </ul>
        <ul class="mega-menu">
          <li>
            <a href="skills.html">Skills</a>
          </li>
          <li>
            <a href="projects.html">Projects</a>
          </li>
          <li>
            <a href="edu.html">Education</a>
          </li>
          <li>
            <a href="cert.html">Certifications</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a
              href="../documents/Ahmed_Amin_Backend_Django_NoPhoto.pdf"
              target="_blank"
              >My CV</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="skills">
      <section class="skills">
        <div class="container">
          <div class="dir left">
            <div class="photo">
              <img src="../images/skill.png" alt="" />
            </div>
          </div>
          <div class="dir right main">
            <h2 class="head">My Skills</h2>
            <p class="Bold">I Work to Update My Skills</p>
            <div class="skills-container">
              <div class="front">
                <h1>Front-end</h1>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/html.png" alt="HTML" />
                  </div>
                  <div class="sinfo">
                    <div>HTML</div>
                    <p>HTML is a standard markup language used to create Web</p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/css.png" alt="CSS" />
                  </div>
                  <div class="sinfo">
                    <div>CSS</div>
                    <p>
                      CSS is a style sheet language used for describing the
                      presentation of a document written in
                    </p>
                  </div>
                </div>
              </div>
              <div class="back">
                <h1>Back-end</h1>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/python.png" alt="Python" />
                  </div>
                  <div class="sinfo">
                    <div>Python</div>
                    <p>
                      Python is a high-level, interpreted programming language
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/django.png" alt="Django" />
                  </div>
                  <div class="sinfo">
                    <div>Django</div>
                    <p>
                      Django is a free and open-source web framework, written in
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/sql.png" alt="SQL" />
                  </div>
                  <div class="sinfo">
                    <div>SQL</div>
                    <p>
                      SQL is a standard language for accessing, managing, and
                      modifying data in relational database management
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img
                      style="border-radius: 50%"
                      src="../images/mysql.png"
                      alt="MySQL"
                    />
                  </div>
                  <div class="sinfo">
                    <div>MySQL</div>
                    <p>
                      MySQL is an open-source relational database management
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/ubuntu.png" alt="Ubuntu" />
                  </div>
                  <div class="sinfo">
                    <div>Ubuntu</div>
                    <p>Ubuntu is a free and open-source operating system</p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/git.png" alt="Git" />
                  </div>
                  <div class="sinfo">
                    <div>Git</div>
                    <p>
                      Git is a free and open-source distributed version control
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/github.png" alt="GitHub" />
                  </div>
                  <div class="sinfo">
                    <div>GitHub</div>
                    <p>
                      GitHub is a web-based platform for version control and
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/bash.png" alt="bash scripting" />
                  </div>
                  <div class="sinfo">
                    <div>Bash Scripting</div>
                    <p>
                      Bash scripting is a powerful tool for automating tasks
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/powershell.png" alt="Power Shell" />
                  </div>
                  <div class="sinfo">
                    <div>Power Shell</div>
                    <p>Power Shell is a task automation and configuration</p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/mk.png" alt="MarkDown" />
                  </div>
                  <div class="sinfo">
                    <div>MarkDown</div>
                    <p>MarkDown is a lightweight markup language</p>
                  </div>
                </div>
              </div>
              <div class="tools">
                <h1>Tools</h1>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/vsc.png" alt="Visual Studio Code" />
                  </div>
                  <div class="sinfo">
                    <div>Visual Studio Code</div>
                    <p>
                      Visual Studio Code is a source-code editor developed by
                      Microsoft
                    </p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/postman.png" alt="Postman" />
                  </div>
                  <div class="sinfo">
                    <div>Postman</div>
                    <p>Postman is a tool for testing and documenting APIs</p>
                  </div>
                </div>
                <div class="skill-card">
                  <div class="sphoto">
                    <img src="../images/vim.png" alt="vim" />
                  </div>
                  <div class="sinfo">
                    <div>Vim</div>
                    <p>vim is a text editor</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <div class="logo">
          <a href="index.html"><img src="../images/logo.png" alt="" /></a>
        </div>
        <div class="links">
          <a class="git" href="https://github.com/Estoda" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            class="linkedin"
            href="https://www.linkedin.com/in/ahmed-amin-b9393a26a/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a class="x" href="https://x.com/AhmedAmin82253" target="_blank"
            ><i class="fa-brands fa-square-x-twitter"></i
          ></a>
        </div>
      </div>
      <p>&copy: 2025 Ahmed Amin. All rights reserved.</p>
    </footer>
  </body>
</html>
